body {
    font-family:"メイリオ", Meiryo, sans-serif;
    font-size: 15px;
    background-image: url("../images/bg-index.png");
    min-width: 1100px;

}
/* CSS for banner */
.img-banner{
    position: absolute;
    width: 100%;
    height: 330px;
    text-align: center;
    background-color: #d3d3d3;
}
.banner{
    height: 330px;
    min-width: 1100px;
}

.slogan {
    position: absolute;
    text-align: center;
    width: 100%;
    min-width: 1100px;
}
.display-banner {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
h1, h2 {

    display: inline-block;
    width: 1100px;
    position: relative;
}
h1 img, h2 img {
    vertical-align: top;
}
h1 img{
    margin-top: 2px;
    position: absolute;
    left: 80px;
    top: -6px;
}
h2 img{
    margin-top: 2px;
    position: absolute;
    left: 80px;
    top: 95px;
}
/* End CSS for banner */



/* CSS for all nav tag*/
nav ul {
    background: #189cd3;
    padding: 0;
    margin: 0 auto 0 auto;
    text-align: center;
    display: inline-block;
}
nav a {
    display: inline-block;
    margin-right: -4px;
}
/* End CSS for all nav tag*/



/* CSS for Navigation Bar show when scroll down */
.nav-scroll.fixed {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -moz-opacity: 0.95;
    opacity:.95;
    filter: alpha(opacity=95);
}
.nav-scroll{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: 0.75s all cubic-bezier(.165,.84,.44,1);
    transition: 0.75s all cubic-bezier(.165,.84,.44,1);
    -webkit-transform: translate3d(0,-65px,0);
    transform: translate3d(0,-65px,0);
    height:40px;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity= 0);
    margin-left: auto;
    margin-right: auto;
    background: #189cd3;
    min-width: 998px;
    text-align: center;
}
.nav-scroll li {
    display: inline-block;
    border-right: 1px solid #FFF;
    line-height: 40px;
    list-style-type: none;
}
.nav-scroll li:first-child{
    border-left: 1px solid #FFF;
}
.nav-scroll li a{
    font-size: 13px;
    color: #FFF;
    text-decoration:none;
    width: 100%;
}
.nav-scroll li:hover {
    background-color: #0075a6;
}
.home-scroll {
    width: 149px;
}
.search-scroll {
    width: 169px;
}
.award-scroll {
    width: 169px;
}
.file-edit-scroll {
    width: 169px
}
.social-network-scroll {
    width: 169px;
}
.lock-scroll {
    width: 165px;
}
/* END CSS for Navigation Bar show when scroll down */



/* CSS for Navigation Bar show in top page */
.nav-bar div{
    height: 50px;
    width: 100%;
    min-width: 1100px;
    position: absolute;
    background-color: #189cd3;
}
.nav-show {
    opacity: 0.95;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    width:1000px;
    height:50px;
    margin-bottom:48px;
    position: relative;
}
.nav-show li:first-child{
    border-left: 1px solid #FFF;
}
.nav-show li {
    display: inline-block;
    border-right: 1px solid #FFF;
    height: 50px;
    float: left;
    cursor: pointer;
    width: 165px;
    overflow: hidden;
}
.nav-show li a {
    color: #FFF;
    text-decoration: none;
    text-align: left;
}
.nav-show li:hover {
    background-color: #0075a6;
}
.home {
    background:url("../images/home.png") no-repeat 40px 12px transparent;
}
.home a{
    margin-top: 16px;
    margin-left: 35px;
}
.search {
    background:url("../images/search.png") no-repeat 27px 12px transparent;
}
.search a{
    margin-top: 8px;
    margin-left: 27px;
}
.award {
    background:url("../images/award.png") no-repeat 32px 12px transparent;
}
.award a{
    margin-top: 16px;
    margin-left: 27px;
}
.file-edit {
    background:url("../images/file-edit.png") no-repeat 25px 12px transparent;
}
.file-edit a{
    margin-top: 8px;
    margin-left: 25px;
}
.social-network {
    background:url("../images/social-network.png") no-repeat 20px 12px transparent;
}
.social-network a{
    margin-top: 8px;
    margin-left: 28px;
}
.lock {
    background:url("../images/lock.png") no-repeat 35px 12px transparent;
}
.lock a{
    margin-top: 16px;
    margin-left: 25px;
}
/* END CSS for Navigation Bar show in top page */



/* CSS for Content*/
.display {
    width:1100px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
.text-top {
    color: #189cd3;
    float:left;
    font-weight: normal;
    font-size:32px;
    margin: 0;
}
.top-content {
    display: inline-block;
    margin-bottom:20px;
}
.container {
    width:960px;
    margin-left:auto;
    margin-right:auto;
}

.content {
    width:1100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
}
p {
    color: #4d4d4d;
}
/* End CSS for Content*/



/* CSS for button PAGE TOP*/
.scroll-up {
    display: inline-block;
    text-align: center;
}
.scroll-up img {
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */
    border: none;
}
.scroll-up:hover {
    background-color: #cccccc;
    border-radius: 50%;
}
.page-top {
    font-size: 10px;
    letter-spacing:1px;
    font-weight: bold;
    padding-bottom: 35px;
}
/* End CSS for button PAGE TOP*/



/* CSS for Footer*/
.nav-footer {
    background: #FFF;
    text-align: center;
    width:560px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin-top:30px;
    margin-bottom: 20px;
}
.nav-footer ul {
    background: none;
}
.nav-footer li {
    list-style-type: none;
    float:left;
    padding-left:15px;
    padding-right:15px;
    border-left: 1px solid #666666;
}
.nav-footer li:first-child {
    border: 0;
}
.nav-footer a {
    color: #666666;
    display: inline-block;
    text-decoration: none;
    line-height: 5px;
    font-size:14px;
}
.info-footer {
    float:right;
}
.container .info-footer p{
    padding: 0;
    font-size: 12px;
    letter-spacing: 0;
    margin: 22px 0 45px 0;
    line-height: 33px;
}
.logo-bottom img{
    margin-top:22px;
    float: left;
}
.footer{
    width: 100%;
    display: inline-block;
    min-width: 1100px;
    background-color: #FFF;
    text-align: center;
}
.nav-footer li:hover {
    -moz-opacity: 0.6;
    opacity: 0.6;
    filter: alpha(opacity= 60);
}

/* End CSS for Footer*/


/*CSS for active nav bar */
.page-active {
    background-color: #0075a6;
}
/*END CSS for active nav bar */