.line2 {
    padding-top:21px;
    float: left;
    width:324px;
}
.top-content {
    display: inline-block;
    width: 960px;
}
.block{
    width: 960px;
    display: inline-block;
    text-align: left;
    color: #393939;
    overflow: hidden;
}
.block p {
    margin: 0;
    line-height: 28px;
}
.block .height-line {
    margin: 0;
    line-height: 34px;
}
.block .title{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0px 0 10px 0;
}
.block table {
    letter-spacing: 1px;
    margin-bottom: 25px;
}
.block td{
    line-height: 26px;
    padding-right: 10px;
    vertical-align: top;
}
.block  .last {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 55px;
}
.block  a{
    color: #42b2e0;
    text-decoration: none;
}
.block  a:hover{
    text-decoration: underline;
    opacity: 0.7;
}
.child-block {
    padding-left: 28px;
    background-color: #f2f2f2;
    width: 100%;
    height: 585px;
    margin-bottom: 28px;
}
.child-block .title {
    padding-top: 25px;
    margin-bottom: 4px;
}
.child-block p{
    margin: 0;
    line-height: 29px;
}
.title.space {
    margin-top: 30px;
}
.tbl {
    margin-top: 5px;
    position: relative;
    margin-bottom: 42px;
}
.tbl-info th {
    width: 158px;
    border-left: 1px #FFF solid;
    border-bottom: 1px #FFF solid;
    background-color: #75c4e6;
    text-align: center;
    height: 40px;
    color: #FFF;
    font-size: 16px;
}
.tbl-info th:first-child {
    border-left: none;
}
.tbl-info td {
    border-left: 1px #FFF solid;
    background-color: #e6e6e6;
    text-align: center;
    height: 105px;
    color: #4c4c4c;
    font-size: 18px;
    vertical-align: middle;
    font-weight: bold;
}
.tbl-info td:first-child{
    border-left: none;
}
.arrow-1 {
    position: absolute;
    top: 65px;
    left: 5px
}
.arrow-2 {
    position: absolute;
    top: 65px;
    left: 320px
}
.txt-info-1 {
    position: absolute;
    top: 80px;
    left: 122px;
    font-weight: bold;
    font-size: 18px;
    color: #FFF;
}
.txt-info-2 {
    position: absolute;
    top: 80px;
    left: 520px;
    font-weight: bold;
    font-size: 18px;
    color: #FFF;
}
.scroll-up {
    margin-top: 38px;
}
.block .year {
    margin-top: 10px;
    font-weight: bold;
}
#link-popup {
    cursor: pointer;
}
.blur{
    font-size: 12px;
    color: #999999;
}